.card-border-width {
    border: none;
    border-color: none;
    border-style: none;
}
body {
    background: rgb(1, 33, 17);
background: linear-gradient(90deg, rgba(1,3,33,1) 0%, rgb(5, 3, 39) 48%, rgba(1,3,33,1) 100%);


}
aside {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.cabecera {
    margin-top: 20px;
    width: 50%;
    height: 25vh;
    margin: 0, auto;
    border-radius: 50%;
    background-image: url("img/michos2.jpg");
    background-color: 0,0,0 51%;
    color: aliceblue;
    box-shadow: 0 10px 100px rgba(55, 39, 145, 0.682);
   
}
@media( width > 700px){
    .cabecera {
        padding-top: 30px;
        width: 22%;
        height: 33vh;
        margin: 0, auto;
        border-radius: 50%;
        background-image: url("img/michos2.jpg");
        background-image: 10vw 10vh;
        background-color: 0,0,0 51%(white);
        box-shadow: 0 10px 150px rgba(55, 39, 145, 0.682);
        
    }
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 55px;
}
 main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
 }
 nav {
   background-color: #3d37d6;
   border-radius: 10px;
  box-shadow: 0 10px 150px rgba(55, 39, 145, 0.682);
  padding-top: 6px;
  padding-bottom: 6px;
 }
 nav:hover {
    background: rgb(74, 131, 216);
    box-shadow: 2 10vw 80vw rgba(70, 86, 232, 0.999);
 }
 a {
    padding: 5px;
 }

.reproductor{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background: rgb(1,3,33);
    background: linear-gradient(90deg, rgba(1,3,33,1) 0%, rgb(5, 3, 39) 48%, rgba(1,3,33,1) 100%);
}

@media (width > 700px){
    .reproductor {
        width: 60%;
        margin: 0 auto;
        border-radius: 12px;
        background: rgb(1,3,33);
        background: linear-gradient(90deg, rgba(1,3,33,1) 0%, rgb(5, 3, 39) 48%, rgba(1,3,33,1) 100%);
    }

}
.tituloMusica {
    color: white;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-bottom: 35px;
 }

 /**container grid*/
 .containerReproductor {
    margin: 0 auto;
    width: 100%;
    padding: 15px 0px;
    display: grid;
    background-color: rgb(2, 8, 32);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    grid-template-areas: 
    "musica"
    "musica";
    box-shadow: 0 1px 10px rgba(23, 10, 99, 0.682);
 }
 @media (width > 700px){
    .containerReproductor {
        grid-template-areas: 
        "musica" "musica";
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr;
        height: auto;
        width: 95%;
        border-radius: 12px;
        box-shadow: 0 1px 10px rgba(55, 39, 145, 0.682);
    }
 }

 /**card individual*/
 .card {
    margin: 30px auto;
    padding: 30px auto;
    width: 100%;
    height: 13rem;
    /* Sombra sutil */
 }



  @media (width > 1200px){
    .card {
       margin: 25px auto;
        border: 0;
        width: 80%;
        height: 13rem;
        box-shadow: 0 4px 12px rgba(38, 41, 191, 0.657); /* Sombra sutil */
      }
  }
  
  .card img {
    width: 100%;
    height: 35vh;
    display: block;
  }
  
  .card-content {
    padding-top: 10px;
    text-align: center;
    background-color: #000000;
    color: #011df2;
  }
  
  .card-content h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-content p {
    margin-bottom: 2px;
    font-size: 14px;
  }
  .player {
    background-color: #000000;
     margin: 0 auto;
     width: 100%;
    text-align: center;
  }
.player-controls{
  width: 90%;
  padding: 10px 5px;
}

  controls {

  }

  /**EVENTOS*/
 .containerEventos{
    width: 35%;
    margin: 0 auto;
    padding: 10px;
 }
 .tituloEventos{
  color: white;
  text-align: center;
 }

 .cardEventos img {
  width: 15vw;
  height: 40vh;
  border-radius: 20px;
  box-shadow: 0 10px 700px rgba(103, 2, 227, 0.682);
 }
 .cardEventos h5 {
  color: #fff;
  margin:  10px 10px;

 }
 @media(width < 720px){
  .containerEventos{
    width: 90%;
  }
  .cardEventos img {
    width: 40vw;
    height: 37vh;
    box-shadow: 0 30px 300px rgba(175, 166, 226, 0.682);
   }
 }


  /**Merch*/ 

  /**todo el container*/
/* 
.containerMerch{
  width: 90%;
  margin:  0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: auto;
  grid-template-areas: 
  "card" "card"
  "card" "card"
  "card" "card";
  background: rgb(1,3,33);
  background: linear-gradient(90deg, rgba(1,3,33,1) 0%, rgb(5, 3, 39) 48%, rgba(1,3,33,1) 100%);
  box-shadow: 0 1px 10px rgba(55, 39, 145, 0.682);
}
@media (width > 1200px){
  .containerMerch{
  grid-template-areas: 
  "card" "card" "card"
  "card" "card" "card";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  width: 47%;
  background: rgb(1,3,33);
  background: linear-gradient(90deg, rgba(1,3,33,1) 0%, rgb(5, 3, 39) 48%, rgba(1,3,33,1) 100%);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(37, 41, 239, 0.575);
  }
}
.tituloMerch{
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}
.card {
  width: 98%;
  height: 50vh;
  border-radius: 8px;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img {
  width: 100%;
  height: 20vh;
}
.card-body {
  background-color: #000000;

}
.card-title {
  color: #fff;
  font-size: 15px;
}
.card-price {
  font-size: 1.2rem;
  color: #dae4eb;
  margin-bottom: 5px;
}
.add-to-cart {
  margin: 0 auto;
  display: block;
  width: 80%;
  padding: 10px 0;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-to-cart:hover {
  background-color: #0056b3;
} */


 /*TODO EL MERCH*/
.Merch{
  width: 50%;
  margin: 0 auto;
  box-shadow: 1 10px 100px rgba(55, 39, 145, 0.895);
}

.headerMerch{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: white;

}
.containerMerch {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.image-container {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d5d5d00; /* Fondo gris para el contenedor de la imagen */
}

.image-container img {
  width: 50%;
  height: auto;
  background-color: rgb(5, 3, 39);
  border-radius: 30px; /* Asegura que el fondo de la imagen sea transparente */
}


.controls {
  width: 50%;
  margin: 0 auto;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #fafafa;
  
}
@media(width < 700px){
  .containerMerch {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1 10px 100px rgba(55, 39, 145, 0.895);
  }
  .image-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 3, 39); /* Fondo gris para el contenedor de la imagen */
  }
  .image-container img {
    width: 100%;
    height: auto;
    background-color: ;
    border-radius: 30px; /* Asegura que el fondo de la imagen sea transparente */
  }
  .controls {
    width: 100%;
    margin: 0 auto;
    height: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fafafa;
    
  }
}
 .botonComprar{
  background-color: #011df2;
  color:#fff;
  margin: 0 auto;
 }
.controls button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.product-info {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(205, 102, 102, 0);
  
}

.botonComprarMerch{
  background-color: #011df2;
}

#product-name {
  margin: 0;
}

#product-price {
  margin: 5px 0 0 0;
  color: #fffafa;
}


/**footer*/
footer{
  margin: 0 auto;
  color: rgb(49, 128, 198);
  justify-content: center;
  text-align: center;
}
.tituloFooter2  {

}

.iconFooter  {
  margin: 25px auto;
  width: 60%;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media(width > 700px){
  .iconFooter {
    width: 17vw;
  }
}
